.card {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
img {
  width: 300px;
}
.text {
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  list-style: none;
}
a {
  color: rgb(45, 45, 212);
  padding-right: 4px;
}
